@use 'sass:color';
@use 'base';
@use 'animations';


//Inheritance mall för kort 
%card-style {
  background-color: base.$color-main;
  border-radius: 12px;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
}

//Inheritance mall för knappar

%button-style {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  }

  .info-boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Tre kolumner
    gap: 2rem;      
    margin-top: 3rem;
    padding: 1rem;
  }

.info {
  @extend %card-style; //Tar stylingen för kortet -inheritance
  margin: 0;
 
img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  @include base.corner-style(false); //Boolean från if/else sats

  }

  figcaption {
    padding: 1.5rem;
    text-align: center;

    h3 {
margin-top: 0;
color: base.$color-text;
}
}
}

.picture-test {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem;
  padding: 1rem;
}

.foto {
  @extend %card-style; //Tar stylingen för kortet -inheritance
  margin: 0;
  
  

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    @include base.corner-style(true); //Boolean från if/else sats
    transition: transform 1s ease-in-out; //Transition på 1 sekund
  }

  &:hover img {
    transform: scale(1.18) //Vid hoover zoomas bilden in
   
    
  }
  figcaption {
    padding: 1.5rem;
    text-align: center;
  }

    h3 {
margin-top: 0;
color: base.$color-text;
}
}

.minion img {
@include base.standard-image;
animation-name: photoMove; //infogar animationen skapad under animations.scss
animation-duration: 5s; //längd den håller på
animation-iteration-count: infinite; //vill ha den hoppandes förevigt
}

.btn-read-more {
  @extend %button-style; //Stylingen för knappar - inheritance
  background-color: base.$color-accent;
  color: base.$color-dark-text;
  margin: 1rem auto; //centrerar knapp
  @include base.corner-style(true); //Boolen från if/else sats

  &:hover {
    background-color: color.scale(base.$color-accent, $lightness: -15%); //Lägger till color functions "darken"
} }

header {
  background-color: base.$color-header;
  padding: 1.25rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coffee-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
  

  img {
    @include base.standard-image;
    }
  }

    .sass-image {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.5rem;
      margin-top: 2rem;
      
    
      img {
        @include base.standard-image;
        }
      }

footer {
  padding: 1.89rem 2.5rem;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
 gap: 1rem;
 background-color: base.$color-header;
 margin-top: 3rem;
 
}

.footer-info p {
 margin-bottom: 0.5rem;
 font-size: 1rem;
 text-align: left;
}

@media (max-width: 900px) {
  .info-boxes {
    display: flex;
    flex-direction: column;
  }
  .info img {
    height: auto;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  
  /* Header och hamburgermeny */
  header {
    flex-wrap: wrap;
    padding: 1rem 1.25rem; 
  }
  
  .hamburger {
    display: block; 
  }
  
  /* Göm menyn tills man klickar */
  nav {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 0;
    margin-left: 0; 
    
  }
  
  nav.active {
    display: flex;
  }
  
  nav a {
    padding: 1rem;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    width: 100%;
    text-align: center;
    
  }

  .coffee-image {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-top: 2rem;
  }
  .info-boxes {
    display: grid;
    grid-template-columns: 1fr; // 1 kolumn
   
  }

  /* Footer staplas */
  footer {
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    padding: 2rem 1rem;
  }
  .min-logga {
    width: 12rem;
  }
}
