@use 'base';

@use 'components';

@use 'layout';

.min-logga {
  width: 18rem;
  height: auto;
  display: block;
}

.hero {
  background-image: url('/coffeebeans.jpg');
  height: 60vh;           
  background-size: cover;  
  background-position: center; 
  display: flex;
  align-items: center;     /* Centrerar texten vertikalt */
  justify-content: center; /* Centrerar texten horisontellt */
  color: base.$color-main;
  text-align: center;
}

body {
  background-color: base.$color-bg; 
  color: base.$color-text;            
  font-family: base.$font-stack;
  margin: 0;
}
main {
  background-color: base.$color-main; 
  color: base.$color-text;
  max-width: 80ch;         
  margin: 20px auto; // Centrerar main
  padding: 40px;
  border-radius: 8px; // Runda hörn
  }

  //Mörkt tema 
  @media (prefers-color-scheme: dark) {
    body {
      background-color: base.$color-dark-bg;
      color: base.$color-dark-text;
    }
  
    header, footer {
      background-color: base.$color-dark-header;
      color: base.$color-dark-text;
    }
  
    nav a {
      color: base.$color-dark-text;
    }
    
    .hamburger {
      color: base.$color-dark-text;
    }
    .min-logga {
      filter: invert(1); // Gör min logga vit istället för svart
     
    }
  }




