//Bas (variabler, resets, mixins) - Måste ligga först!
@use 'base';

//Layout (header, footer, grid)
@use 'layout';

//Komponenter (knappar, kort, osv)
@use 'components';

.min-logga {
  width: 18rem;
  height: auto;
  display: block;
}

.hero {
  background-image: url('/coffeebeans.jpg');
  height: 60vh;           
  background-size: cover;  
  background-position: center; 
  display: flex;
  align-items: center;     /* Centrerar texten vertikalt */
  justify-content: center; /* Centrerar texten horisontellt */
  color: base.$color-main;
  text-align: center;
}

body {
  background-color: base.$color-bg; 
  color: base.$color-text;            
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
main {
  background-color: base.$color-main; 
  color: base.$color-text;
  max-width: 80ch;         
  margin: 20px auto;         // Centrerar main
  padding: 40px;
  border-radius: 8px;        // Runda hörn
  

  
}




